.tierlist {
  display: flex;
  flex-wrap: nowrap;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  color: #28292a;
  font-size: 40px;
  height: 100px;
  width: 100px;
  flex-shrink: 0;
  margin-right: 8px;
}

.blocklist {
  display: flex;
  flex-wrap: nowrap;
  min-width: 100%;
}

.block {
  margin-right: 8px;
  position: relative;
  height: 100px;
  width: 100px;
  display: block;
  cursor: pointer; /* Pointer cursor for interactivity */
  &:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Deeper shadow on hover */
  }
  img {
    position: absolute;
    height: 86px;
    width: 86px;
    top: 14px;
    left: 0px;
  }
}
